// baclground color
$bg-black-1: #222222;
$bg-vivid-1: #f0db00;
$bg-white-1: #ffffff;
$bg-white-2: #f3f3f3;
$bg-white-3: #e5e3df;

// font color
$fc-black-1: #222222;
$fc-black-2: #111111;
$fc-vivid-1: #f0db00;
$fc-vivid-2: #e0cc00;
$fc-vivid-3: #d0bb00;
$fc-white-1: #ffffff;
$fc-white-2: #dddddd;
$fc-gray-1: #666666;
$fc-gray-2: #888888;

// design
$h-left: $fc-gray-1;//darkgray;
$h-background-color: $bg-white-2;// #7B7B7B;
$list-background-color: $bg-white-2;// #FAFAFA;
