@import "../../layout/theme.scss";
.user-in-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    align-content: center;

    .inner-detail{
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        .name {
            display: flex;
            font-size: 14px;
        }

        .desc {
            margin: 5px 0 !important;
            font-size: 11px !important;
            line-height: 15px !important;
        }

    }

    .inner-avator {
        display: flex;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 1px 1px;
    
        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
        background: grey;
    }
}
