@import "../../layout/theme.scss";
.user-in-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    align-content: center;

    .inner-detail{
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        .name {
            display: flex;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 5px;
        }

        .desc {
            margin: 0 0 !important;
            font-size: 12px !important;
            line-height: 16px !important;
        }

    }

    .inner-avator {
        display: flex;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 1px 1px;
    
        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
        background: grey;
    }
}
