@import url('https://fonts.googleapis.com/css?family=Megrim');
@import '../../templates/base.scss';

#author{
  width: 100%;
  color: $fc-gray-1;

  .avator {
    width: 100%;
    border-radius: 50%;
  }
  .name{
    font-size: 32px;
    color: $fc-black-1;
    border-bottom: 1px solid $fc-vivid-1;
    
    font-family: "Megrim", "Yu Gothic M", "Raleway";
    text-align: center;
    padding: 20px 0;
  }
  .discription{
    padding-top: 10px;
    font-size: 15px;
  }
}

