@import '../layout/theme.scss';
@import '../layout/prism.scss';
@import '../templates/base.scss';

$mobileWidth: 680px;

// font-color
$fontColorNormal: $fontBlack1;
$fontColorVivid: $fontVivid3;
$fontColorHeadline: $fontBlack2;

.markdown-designer {
  * {
    font-family: '游明朝体', 'Times New Roman', Times, serif; //TODO: 他にもここのfotn-familyを入れ込む
  }
  

  table > thead > tr > th,
  table > tbody > tr > th,
  table > tfoot > tr > th {
    text-align: left;
  }

  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.429;
  }

  table > thead > tr > th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-weight: 700;
  }

  table > tbody + tbody {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
  }

  table > tbody > tr > td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

}
