@import '../../templates/base.scss';

.post-preview-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0 !important;
}

.post-preview-title{
  color: $fc-black-1;
  font-size: 24px;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 900; // TODO
}

.post-preview-overlay{
    height : 100%;
    background-color : rgba(255, 255, 255, 0.8);
    color: black;
    display :flex;
    align-items: center;
}