---
import BaseLayout from "../layouts/BaseLayout.astro";
import { default as PostCardListPrevNext } from "../components/PostCardListPrevNext.astro";
import { default as PostCardListPicked } from "../components/PostCardListPicked.astro";
import { selectRelatedEntryList } from "../utils/entry";
import { type BlogEntry, getBlogEntryList } from "../utils/astro";

type Props = {
  entry: BlogEntry;
  previousEntry: BlogEntry | undefined;
  nextEntry: BlogEntry | undefined;
  relatedEntries: BlogEntry[];
};

type Slug = BlogEntry["slug"];
type Item = { props: Props; params: { slug: Slug } };

export async function getStaticPaths() {
  const blogEntries = await getBlogEntryList();
  // TODO: create a function
  const result = blogEntries.reduce((prev, entry, idx, list) => {
    const previousEntry = list[idx - 1];
    const nextEntry = list[idx + 1];
    const ignoreEntrySlugList = (() => {
      let _list = [];
      if (previousEntry) _list.push(previousEntry.slug);
      if (nextEntry) _list.push(nextEntry.slug);
      return _list;
    })();
    const relatedEntries = selectRelatedEntryList({
      target: entry,
      candidateEntryList: list,
      ignoreEntrySlugList,
    });
    const props = {
      entry,
      previousEntry,
      nextEntry,
      relatedEntries,
    } satisfies Props;
    const params = { slug: entry.slug };
    const item = { params, props };
    return [...prev, item];
  }, [] as Item[]);
  return result;
}

const { entry, previousEntry, nextEntry, relatedEntries } = Astro.props;
const { data: frontmatter } = entry;
const { Content } = await entry.render();
---

<BaseLayout title={frontmatter.title}>
  <Content />
  <!-- Prev and Next -->
  <div
    class="mb-5 gap-4 flex direction-row flex-wrap justify-center max-w-screen-lg w-full m-auto"
  >
    <PostCardListPrevNext previousEntry={previousEntry} nextEntry={nextEntry} />
  </div>
  <!-- //Prev and Next -->

  <!-- Recommends -->
  <div
    class="gap-4 flex direction-row flex-wrap justify-center max-w-screen-lg w-full m-auto"
  >
    <PostCardListPicked
      title={"関連記事"}
      entries={relatedEntries}
      meta="関連記事"
    />
  </div>

  <!-- //Recommends -->
</BaseLayout>
