---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { default as PostCard } from "../components/PostCard.astro";
import { default as PickedPostList } from "../components/PickedPostList.astro";
import { selectRelatedEntryList } from "../utils/entry";

type BlogEntry = CollectionEntry<"blog">;

type Props = {
  entry: BlogEntry;
  previousEntry: BlogEntry | undefined;
  nextEntry: BlogEntry | undefined;
  relatedEntries: BlogEntry[];
};

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.reduce((prev, entry, idx, list) => {
    const previousEntry = list[idx - 1];
    const nextEntry = list[idx + 1];
    const relatedEntries = selectRelatedEntryList(entry, list);
    const props = {
      entry,
      previousEntry,
      nextEntry,
      relatedEntries,
    } satisfies Props;
    const params = { slug: entry.slug };
    const item = { params, props };
    const result = [...prev, item];
    return result;
  }, [] as any[]);
}

const { entry, previousEntry, nextEntry, relatedEntries } = Astro.props;
const { data: frontmatter } = entry;
const { Content } = await entry.render();
---

<BaseLayout title={frontmatter.title}>
  <Content />
  <!-- Prev and Next -->
  <div
    class="mb-16 gap-4 flex direction-row flex-wrap justify-center max-w-screen-lg w-full m-auto"
  >
    <div class="flex flex-wrap justify-center w-full gap-12">
      <div>
        <div class="font-bold text-2xl mb-4">Next:</div>
        {nextEntry && <PostCard entry={nextEntry} />}
      </div>
      <div>
        <div class="font-bold text-2xl mb-4">Previous:</div>
        {previousEntry && <PostCard entry={previousEntry} />}
      </div>
    </div>

    <span class="py-5"></span>
    <!-- <PickedPostList title={"関連記事"} entries={relatedEntries} /> -->
  </div>
  <!-- //Prev and Next -->

  <!-- Recommends -->

  <!-- //Recommends -->
</BaseLayout>
