---
import Layout from "../layouts/BaseLayout.astro";
import { default as Markdown } from "../components/Markdown.astro";
import { default as PaperWithTitle } from "../components/PaperWithTitle.astro";
import { default as Container } from "../components/Container.astro";
import { getEntryBySlug, CollectionEntry } from "astro:content";

type Entry = CollectionEntry<"about">;

type Props = {
  entry: Entry;
};

const entry = await getEntryBySlug("about", "about");
const { Content } = await entry.render();
---

<Layout>
  <Container>
    <main class="my-16">
      <PaperWithTitle title={"About Me"}>
        <Markdown>
          <Content />
        </Markdown>
      </PaperWithTitle>
    </main>
  </Container>
</Layout>
