---
import Layout from "../layouts/BaseLayout.astro";
import { default as Markdown } from "../components/Markdown.astro";
import { default as PaperWithTitle } from "../components/PaperWithTitle.astro";
import { default as Container } from "../components/Container.astro";
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import { toHomeUrl } from "../utils/url";
import { SITE_NAME_WITH_EMOJI } from "../constants/site";

type Entry = CollectionEntry<"about">;

type Props = {
  entry: Entry;
};

const entry = await getEntryBySlug("about", "about");
const { Content } = await entry.render();
---

<Layout>
  <Container>
    <main class="my-16 flex justify-center">
      <PaperWithTitle slug="about">
        <span slot="title">
          <div class="text-sm breadcrumbs">
            <ul>
              <li><a href={toHomeUrl()}>{SITE_NAME_WITH_EMOJI}</a></li>
              <li>📑 {"About Me"}</li>
            </ul>
          </div>
        </span>
        <Markdown slot="body">
          <Content />
        </Markdown>
      </PaperWithTitle>
    </main>
  </Container>
</Layout>
