---
import * as R from "remeda";
import Layout from "../layouts/BaseLayout.astro";
import { default as Hero } from "../components/HomeHero.astro";
import { toTagInfoList, sortByCreatedAt } from "../utils/meta";
import { toPickedEntryInfoList } from "../utils/entry";
import { getBlogEntryList } from "../utils/astro";
import { LATEST_PAGE_SIZE, IGNORE_CATEGORY_LIST } from "../constants/site";
import HomePostCardListPickedSections from "../components/HomePostCardListPickedSections.astro";
import { default as HomeTagSection } from "../components/HomeTagSection.astro";
import { default as SearchSection } from "../components/SearchSection.astro";

const allEntries = R.pipe(await getBlogEntryList(), (list) =>
  sortByCreatedAt(list)
);
const pickedEntryInfoList = R.pipe(
  allEntries,
  R.filter((entry) => !IGNORE_CATEGORY_LIST.includes(entry.data.category)),
  (arr) => toPickedEntryInfoList(arr, { pageSize: LATEST_PAGE_SIZE })
);

const tagInfoList = toTagInfoList(allEntries);
---

<Layout showHeader={false}>
  <main class="grid gap-10 w-full m-auto">
    <!-- Hero Section -->
    <Hero />

    <!-- Post Section List -->
    <HomePostCardListPickedSections list={pickedEntryInfoList} />

    <!-- SearchBox -->
    <SearchSection />

    <!-- Tag Section -->
    <HomeTagSection tagInfoList={tagInfoList} />
  </main>
</Layout>
