---
import { AVATAR_IMG } from "../constants/site";
---

<a href={"/about"}>
  <label tabindex={0} class="btn btn-ghost btn-circle avatar normal-case">
    <div class="w-10 rounded-full">
      <img src={AVATAR_IMG} />
    </div>
  </label>
</a>
