---
import AVATAR_IMG from "../../images/avatar.jpg";
---

<a href={"/about"}>
  <label tabindex={0} class="btn btn-ghost btn-circle avatar normal-case">
    <div class="w-10 rounded-full">
      <img src={AVATAR_IMG} class="grayscale" />
    </div>
  </label>
</a>
