---
import { SnsList } from "../components/SnsList";
---

<footer class="footer py-2">
  <div class="place-self-center">
    <div class="grid grid-flow-col gap-4">
      <SnsList />
    </div>
  </div>
</footer>
