---
---

<footer class="footer py-10 text-base-content">
  <div>
    <span class="footer-title">Pages</span>
    <a href={"/about"} class="link link-hover"> About Me</a>
    <a href={"/categories"} class="link link-hover"> Category</a>
    <a href={"/tags"} class="link link-hover"> Tag</a>
  </div>
  {
    /* <div>
    <span className="footer-title">Company</span>
    <a className="link link-hover">About us</a>
    <a className="link link-hover">Contact</a>
    <a className="link link-hover">Jobs</a>
    <a className="link link-hover">Press kit</a>
  </div>
  <div>
    <span className="footer-title">Legal</span>
    <a className="link link-hover">Terms of use</a>
    <a className="link link-hover">Privacy policy</a>
    <a className="link link-hover">Cookie policy</a>
  </div> */
  }
</footer>
