---
import { SITE_NAME_WITH_EMOJI, COPYRIGHT } from "../constants/site";
import { FooterSmallerSns } from "../components/Footer.Smaller.Sns";
import logo from "../../public/images/logo.svg";
---

<footer class="footer py-4 border-t text-base-content border-base-300">
  <div class="flex items-end">
    <img src={logo} alt="logo" class="w-full mx-auto w-20" />
    <p>{COPYRIGHT}</p>
  </div>
  <div class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <FooterSmallerSns />
    </div>
  </div>
</footer>
