---
import { default as Container } from "../components/Container.astro";
import { default as FooterPages } from "./Footer.Pages.astro";
import { default as FooterCopyright } from "./Footer.Copyright.astro";
import { default as FooterSns } from "./Footer.Sns.astro";
---

<footer class="glass">
  <Container>
    <FooterPages />
    <FooterSns />
    <div class="py-4"></div>
    <FooterCopyright />
  </Container>
</footer>
