---
import { default as Container } from "../components/Container.astro";
import { default as FooterLarger } from "./Footer.Larger.astro";
import { default as FooterSmaller } from "./Footer.Smaller.astro";
---

<footer class="bg-base-300">
  <Container>
    <FooterLarger />
    <div class="divider"></div>
    <FooterSmaller />
  </Container>
</footer>
