---

---

<footer class="footer py-10 px-2 text-base-content">
  <div>
    <span class="footer-title">Pages</span>
    <a href={"/about"} class="link link-hover">About Me</a>
    <a href={"/categories"} class="link link-hover">Category</a>
    <a href={"/tags"} class="link link-hover">Tag</a>
  </div>
</footer>
