---
import { renderDate } from "../utils/date";
import { type BlogEntry } from "../utils/astro";

type Frontmatter = BlogEntry["data"];
type Props = {
  frontmatter: Frontmatter;
};
const { frontmatter } = Astro.props;
---

<div class="flex flex-wrap gap-4 justify-center">
  <div class="stats w-full glass">
    <div class="stat place-items-center flex-1 p-2">
      <div class="stat-title">投稿日</div>
      <div class="stat-value text-lg">
        {renderDate(frontmatter.createdAt)}
      </div>
    </div>
    <div class="stat place-items-center flex-1 p-2">
      <div class="stat-title">更新日</div>
      <div class="stat-value text-lg">
        {renderDate(frontmatter.updatedAt)}
      </div>
    </div>
  </div>
</div>
