---
import { default as SearchBox } from "./SearchBox.astro";
import { default as Avatar } from "./Avatar.astro";
import logo from "../..//images/logo.svg";
import { Image } from "astro:assets";
import { buildTransactionName } from "../utils/transition";
---

<header class="glass">
  <div class="navbar max-w-screen-lg m-auto">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case" href={"/"}>
        <Image
          src={logo}
          alt="logo"
          class="mx-auto w-20"
          transition:name={buildTransactionName.logo()}
        />
      </a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control hidden sm:flex">
        <SearchBox />
      </div>
      <Avatar transition:name={buildTransactionName.avatar()} />
    </div>
  </div>
</header>
