---
import { SITE_DESCRIPTION } from "../constants/site";
import logo from "../..//images/logo.svg";
---

<div class="my_hero w-full flex justify-center flex-col gap-4">
  <div class="w-full">
    <img src={logo} alt="logo" class="w-full mx-auto max-w-md px-8" />
  </div>
  <div class="mx-auto text-lg max-w-md text-base-content px-12">
    {SITE_DESCRIPTION}
  </div>
  <div class="mx-auto">
    <a href={"/about"} class="inline text-center">
      <button class="btn btn-outline btn-primry normal-case">About Me</button>
    </a>
  </div>
</div>

<style>
  :root {
    --color1: hsl(var(--b1));
    --color2: hsl(var(--p));
    --color3: hsl(var(--s));
    --color4: var(--color1);
    /* --color1: #ee7752;
    --color2: #e73c7e;
    --color3: #23a6d5; */
    --duration: 3s;
  }

  .my_hero {
    background: linear-gradient(
      -45deg,
      var(--color1),
      var(--color2),
      var(--color3),
      var(--color4)
    );
    background-size: 400% 400%;
    animation: my_gradient var(--duration) ease infinite;
    height: 100vh;
  }

  @keyframes my_gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
