---
import { SITE_NAME } from "../constants/site";
---

<div class="bg-base-200 py-20">
  <div class="my_hero w-full flex justify-center flex-col gap-4">
    <h1
      class="text-5xl font-bold text-base-content text-opacity-60 text-center"
    >
      {SITE_NAME}
    </h1>
    <div class="mx-auto">
      <a href={"/about"} class="inline text-center">
        <button class="btn btn-outline btn-primry normal-case">About Me</button>
      </a>
    </div>
  </div>
</div>

<style>
  :root {
    --color1: hsl(var(--b1));
    --color2: hsl(var(--p));
    --color3: hsl(var(--s));
    --color4: var(--color1);
    /* --color1: #ee7752;
    --color2: #e73c7e;
    --color3: #23a6d5; */
    --duration: 3s;
  }

  .my_hero {
    background: linear-gradient(
      -45deg,
      var(--color1),
      var(--color2),
      var(--color3),
      var(--color4)
    );
    background-size: 400% 400%;
    animation: my_gradient var(--duration) ease infinite;
    height: 70vh;
  }

  @keyframes my_gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
