---
import { default as Container } from "../components/Container.astro";
import { default as TagTip } from "../components/TagTip.astro";
import { toTagIndexUrl } from "../utils/url";
import type { MetaInfo } from "../utils/meta";

type Props = {
  tagInfoList: MetaInfo[];
};
const { tagInfoList } = Astro.props;
---

<div class="glass py-8">
  <Container>
    <div class="py-8 px-2">
      <h2 class="text-2xl font-bold">Tag</h2>
      <div class="flex flex-wrap gap-2 mt-4">
        {
          tagInfoList.map((info) => (
            <a href={toTagIndexUrl(info.title)}>
              <TagTip info={info} />
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</div>
