---
---

<div class="flex flex-col max-w-screen-sm m-auto">
  <div class="tabs overflow-x-scroll w-4/5">
    <span
      class="tab tab-lifted tab-border-none cursor-default bg-base-200 tab-disabled"
    >
      <slot name="title" />
    </span>
  </div>
  <div class="bg-base-200 rounded-xl rounded-tl-none px-4 pb-4">
    <slot name="body" />
  </div>
</div>
