---
import type { CollectionEntry } from "astro:content";
import { default as PostCardList } from "../components/PostCardList.astro";

type BlogEntry = CollectionEntry<"blog">;

type Props = {
  title: string;
  entries: BlogEntry[];
  next?: {
    total: number;
    nextUrl: string;
  };
};
const { title, entries, next } = Astro.props;
---

<!-- Title Section -->
<div class="w-full px-2">
  <span
    class="card glass h-20 font-bold text-lg text-base-content text-opacity-60 w-full place-items-center justify-center"
  >
    {title}
  </span>
</div>

<!-- Post Cards -->
<PostCardList entries={entries} />

<!-- Button: Read More -->
{
  next && (
    <div class="flex justify-center">
      <a href={next.nextUrl} class="btn glass btn-lg normal-case">
        Read More({next.total})
      </a>
    </div>
  )
}
