---
import "@pagefind/default-ui/css/ui.css";
---

<div class="search"></div>

<script>
  console.info("@@2", "start PageFindUI loading...");
  // import { PagefindUI } from "@pagefind/default-ui";
  // REF: https://github.com/withastro/starlight/blob/292d47117ccd6afe77a77f1392824d544c7f1d55/packages/starlight/components/Search.astro#L115C3-L115C3
  window.addEventListener("DOMContentLoaded", () => {
    const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));
    onIdle(async () => {
      const { PagefindUI } = await import("@pagefind/default-ui");
      new PagefindUI({
        element: ".search",
      });
    });
  });
</script>

<style>
  .search {
    max-width: 500px;
    transition-duration: 300ms;
    background: white;
    border-radius: 8px;
  }

  .search:not(:has(.pagefind-ui__hidden)) {
    padding: 16px;
    border-radius: 16px;
  }
</style>
