---
import { default as Search } from "./Search.astro";
---

<div class="glass py-32 flex flex-col">
  <div class="m-auto pb-4">
    <h2 class="text-2xl font-bold">Full Text Search</h2>
  </div>
  <div class="m-auto">
    <Search />
  </div>
</div>
