---
import type { MarkdownHeading } from "astro";
type Props = {
  headings: MarkdownHeading[];
};
const { headings } = Astro.props;
const classHeading = (depth: number) => {
  switch (depth) {
    case 1:
      return "_h1";
    case 2:
      return "_h2";
    case 3:
      return "_h3";
    default:
      return "";
  }
};
const withoutH1 = (heading: MarkdownHeading): boolean => heading.depth !== 1;
---

<div class="bg-base-200 rounded-xl p-4 flex flex-col gap-1">
  <h2 class="font-bold divider my-2">目次</h2>
  <div class="text-base-content text-opacity-40 inline-flex flex-col gap-1">
    {
      headings.filter(withoutH1).map((heading) => (
        <div>
          <a
            href={`#${heading.slug}`}
            class={
              "flex hover:underline transition duration-150 block" +
              ` ${classHeading(heading.depth)}`
            }
          >
            {heading.text}
          </a>
        </div>
      ))
    }
  </div>
</div>

<style>
  a._h1::before {
    content: "";
    display: block;
  }
  a._h2::before {
    content: "●";
    display: block;
  }
  a._h3::before {
    content: "・";
    display: block;
  }
</style>
