#cse-search-box {
  display: flex;
  align-items: center;

  border-radius: 1rem;
  border: 1px solid gray;

  .magnify-icon {
    margin: 0 0.5rem;
    opacity: 0.5;
  }

  input[type='text'] {
    border-radius: 10px;
    height: 1rem;
    padding: 1rem 0;

    background: none;
    color: lightgray;
    border: 0px;

    opacity: 0.9;
    &:hover {
      opacity: 1;
      transition: 0.3s;
    }
    &:focus {
      outline: none;
    }
  }
}
