.recommended-book {
  transition: transform 0.2s;
  & > a > img {
    box-shadow: 1px 1px 5px lightgray;
    &:hover {
      transition: transform 0.2s;
      transition: transform 0.2s;
      transform: rotate(2.5deg) scale(1.1) translateY(-0.5rem);
    }
  }

  &:first-child > a > img {
    &:hover {
      transform: rotate(2.5deg) scale(1.1) translateY(-0.5rem)
        translateX(0.5rem);
    }
  }
  &:last-child > a > img {
    &:hover {
      transform: rotate(2.5deg) scale(1.1) translateY(-0.5rem)
        translateX(-0.5rem);
    }
  }

  &:hover ~ & {
    transition: transform 0.2s;
    transform: translateX(1rem);
  }
}
