// TODO: css ファイルで持たないで、css in js にして、管理したい
* {
  box-sizing: border-box;
}

html {
  height: 100%;

  /**
  * REF: https://blog.yoshinonaco.com/font-family-2020/
  **/
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic',
    Verdana, Meiryo, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.affi-custom-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #a5cc82; /*ボタン色*/
  color: #fff !important;
  font-weight: bold;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.affi-custom-button:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
}
