.af-moshi-container {
  display: flex;
  justify-content: center;

  background: var(--white);
  border: 1px solid transparent;
  transition: border 0.5s;
  &:hover {
    transition: border 0.5s;
    border: 1px solid var(--base-dark);
  }
  & > a {
    width: 100%;
    padding: 1rem;
    text-align: center;
    &:hover {
      border: 0px;
    }
  }
}
