---
import BaseLayout from "./BaseLayout.astro";
import { default as Markdown } from "../components/Markdown.astro";
import { default as PaperWithTitle } from "../components/PaperWithTitle.astro";
import { default as Frontmatter } from "../components/Frontmatter.astro";
import { default as Container } from "../components/Container.astro";
import type { MarkdownLayoutProps } from "astro";
import type { CollectionEntry } from "astro:content";

type BlogEntry = CollectionEntry<"blog">;
type Frontmatter = BlogEntry["data"];
type Props = MarkdownLayoutProps<Frontmatter>;
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <Container>
    <div class="my-16">
      <Frontmatter frontmatter={frontmatter} />
      <PaperWithTitle title={frontmatter.title}>
        <Markdown>
          <slot />
        </Markdown>
      </PaperWithTitle>
    </div>
  </Container>
</BaseLayout>
