---
import BaseLayout from "./BaseLayout.astro";
import { type BlogEntry } from "../utils/astro";
import { default as PostCardList } from "../components/PostCardList.astro";
import { default as PostCardListHeader } from "../components/PostCardListHeader.astro";
import { default as TagTip } from "../components/TagTip.astro";
import { buildTransactionName } from "../utils/transition";
import { default as HomeSearchSection } from "../components/HomeSearchSection.astro";

interface Props {
  meta: string;
  entries: BlogEntry[];
  total: number;
}
const { entries, meta, total } = Astro.props;
const info = { num: total, title: meta };
---

<BaseLayout isCanonical>
  <main class="grid gap-4 max-w-screen-lg w-full m-auto">
    <div class="mt-8"></div>
    <PostCardListHeader
      transactionName={buildTransactionName.postCardListHeader(meta)}
    >
      <TagTip slot="title" info={info} />
    </PostCardListHeader>
    <PostCardList entries={entries} />
  </main>
  <HomeSearchSection />
</BaseLayout>
