---
import Layout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { default as PostCardList } from "../components/PostCardList.astro";

type BlogEntry = CollectionEntry<"blog">;

interface Props {
  meta: string;
  metaType: "tag" | "category";
  entries: BlogEntry[];
}
const { entries } = Astro.props;
---

<Layout isCanonical>
  <main class="grid gap-10 max-w-screen-lg w-full m-auto">
    <PostCardList entries={entries} />
  </main>
</Layout>
