* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

@import '../templates/base.scss';

a {
  text-decoration: none;
  transition: 0.5s;
  &:link, &:visited{
    color: $fontVivid2;
  }
  &:hover{
    color: $fontBlack1;
    transition: 0.5s;
  }
}


