// @import './prism';
@import '../templates/base.scss';

a {
  text-decoration: none;
  transition: 0.5s;
  &:link, &:visited{
    color: $fontVivid2;
  }
  &:hover{
    color: $fontBlack1;
    transition: 0.5s;
  }
}

// other
$header-color: $fontVivid1;
$header-color-hover: white; 

